In [1]:
import pandas as pd

In [ ]:
cls=

In [8]:
df = pd.DataFrame(
    {'Name': ['John', 'Jmaes'],
    'Salary': [100, 200]}
    )

In [9]:
df

    Name  Salary
0   John     100
1  Jmaes     200